.container {
  background: linear-gradient(to right, #c9ffbf, #ffafbd);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.loader {
  background: linear-gradient(to right, #c9ffbf, #ffafbd);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
